.icons{
    border: 10px solid;
    padding: 2rem;
    border-radius: 80px;
    font-size: 3rem;
}
/* App.css */
.my-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid;
  }
  
  @media (max-width: 768px) {
    /* Apply specific styles for screens with a maximum width of 768px (adjust as needed) */
    .my-app {
      padding: 2rem;
    }
  }
  @media (max-width: 600px) {
    /* Apply specific styles for screens with a maximum width of 768px (adjust as needed) */
    .my-app {
      padding: 0;
    }
  }
  